<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ustomers </title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div th:if="${not #lists.isEmpty(customers)}">
        <a  th:href="${ '/customers/new'}">add new </a>
        <h2>customers </h2>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>email</th>
                <th>addressLineOne</th>
                <th>addressLineTwo</th>
                <th>city</th>
                <th>state</th>
                <th>zipcode</th>
                <th>view</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.getId()}"></td>
                <td th:text="${customer.getFirstName()}"></td>
                <td th:text="${customer.getLastName()}"></td>
                <td th:text="${customer.getEmail()}"></td>
                <td th:text="${customer.getAddressLineOne()}"></td>
                <td th:text="${customer.getAddressLineTwo()}"></td>
                <td th:text="${customer.getCity()}"></td>
                <td th:text="${customer.getState()}"></td>
                <td th:text="${customer.getZipCode()}"></td>
                <td ><a  th:href="${ '/customers/'+ customer.getId()}">view</a></td>
                <td ><a  th:href="${ '/customers/edit/'+customer.getId()}">edit</a></td>
                <td><a  th:href="${ '/customers/delete/'+customer.getId()}">delete</a></td>


            </tr>
        </table>

    </div>

</div>

</body>
</html>